In [1]:
import sys
import os

# Get the current working directory
# Get project root (folder above 'notebooks')
project_root = os.path.dirname(os.getcwd())

# Path to scripts folder
scripts_path = os.path.join(project_root, "scripts")

# Add to sys.path
sys.path.append(project_root)
sys.path.append(scripts_path)
# Add db folder
db_path = os.path.join(project_root, "db")
sys.path.append(db_path)
import pandas as pd

In [2]:
from connection import engine, SessionLocal

In [3]:
df = pd.read_sql("SELECT * FROM banks;", engine)

2025-12-01 11:00:35,564 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-01 11:00:35,565 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-01 11:00:35,568 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-01 11:00:35,569 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-01 11:00:35,574 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-01 11:00:35,575 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-01 11:00:35,586 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-01 11:00:35,587 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-12-01 11:00:35,589 INFO sqlalchemy.engine.Engine [generated in 0.00257s] {'table_name': 'SELECT * FROM banks;', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-12-01 11:00:35,598 INFO sqlalchemy.engine.Engine SELECT * FROM banks;
2025-12-01 11:00:35,599 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-01 11:00:35,613 INFO sqlalchemy.engine.Engine ROLLBACK

In [4]:
df.head()

   bank_id   bank_name                     app_name
0        1         CBE  Commercial Bank of Ethiopia
1        2   BoAMobile                   BoA Mobile
2        3  DashenBank                  Dashen Bank